<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Coronavirus Cases Tracker{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="Michael Herman">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">
    <link href="{{url_for('static', filename='main.css')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='dataTables.bulma.css')}}" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
  </head>

  <body class="main">

    <section class="section">
      <div class="container">
        <h1 class="title">Coronavirus Cases Tracker</h1>
        <p class="subtitle">Tracking the development of the Novel Coronavirus COVID-19.</p>
        <p id="last-updated">
          <em>
            <span>Data was last refreshed from </span>
            <span><a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins</a></span>
            <span> and </span>
            <span><a href="https://github.com/nytimes/covid-19-data">NY Times</a></span>
            <span> at </span>
            <span id="last-updated-date"></span>
          </em>
        </p>
        <br><br>
        <ul style="list-style:disc;padding-left:40px;">
          <li>You can find the code in the <a href="https://gitlab.com/monitaur.ai/coronavirus-tracker">coronavirus-tracker</a> repo.</li>
          <li>Get the raw JSON data from our API:
            <ul style="list-style:disc;padding-left:40px;">
              <li><a href="/api/coronavirus/countries/cases">/api/coronavirus/countries/cases</a></li>
              <li><a href="/api/coronavirus/countries/deaths">/api/coronavirus/countries/deaths</a></li>
              <li><a href="/api/coronavirus/states/cases">/api/coronavirus/states/cases</a></li>
              <li><a href="/api/coronavirus/states/deaths">/api/coronavirus/states/deaths</a></li>
              <li><a href="/api/coronavirus/provinces/cases">/api/coronavirus/provinces/cases</a></li>
              <li><a href="/api/coronavirus/provinces/deaths">/api/coronavirus/provinces/deaths</a></li>
              <li><a href="/api/coronavirus/summary">/api/coronavirus/summary</a></li>
            </ul>
          </li>
          <li>This project is in active development. Want to help? Add an issue to the repo or get in <a href="mailto:michael@monitaur.ai">touch</a>. 🙏</li>
          <li>All data comes from <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins</a> and <a href="https://github.com/nytimes/covid-19-data">NY Times</a>.</li>
        </ul>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="loader-wrapper">
          <div class="loader is-loading"></div>
        </div>

        <div class="columns">
          <div class="column is-one-half">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th rowspan="2">Country</th>
                    <th rowspan="2">Total Cases</th>
                    <th colspan="2">New Cases</th>
                    <th rowspan="2">% Change (day over day)</th>
                    <th rowspan="2">Forecasted New Cases (next 24hrs)</th>
                  </tr>
                  <tr>
                    <th>Today</th>
                    <th>Yesterday</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </tfoot>
                <tbody id="table-body"></tbody>
              </table>
          </div>

          <div class="column is-one-half">
            <section class="section">
              <div class="container">
                <div class="columns">
                  <div class="column">
                    <div class="container">
                      <div class="field">
                        <label class="label">Select Country</label>
                        <p class="control has-icons-left">
                          <span class="select">
                            <select id="select-country" onchange="changeChart()" required>
                              <option value="null" selected disabled>Select a Country</option>
                            </select>
                          </span>
                          <span class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="container">
                      <div class="field">
                        <label class="label">Change Chart Type</label>
                        <p class="control has-icons-left">
                          <span class="select">
                            <select id="select-type" onchange="changeChart()" required>
                              <option value="null" selected disabled>Select a Chart Type</option>
                              <option value="line">Line Chart</option>
                              <option value="bar">Bar Chart</option>
                              <!-- <option value="radar">Radar Chart</option> -->
                            </select>
                          </span>
                          <span class="icon is-small is-left">
                            <i class="fas fa-chart-line"></i>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <canvas id="my-chart" width="50" height="50"></canvas>
              </div>
            </section>
          </div>

        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content">
        <div class="container">
          <p>Developed by <a href="https://www.monitaur.ai/">Monitaur</a>.</p>
        </div>
      </div>
    </footer>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='dataTables.bulma.js')}}" type="text/javascript"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
